@import url('https://fonts.googleapis.com/css?family=Barriecito&display=swap');

*
{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}

body {
    background-color: #25272E;
}

header{
    background: white;
    padding:20px;
}



header h1 {
    color: #25272E;
    text-align: center;
    font-family: 'Barriecito', cursive;
}

.score-board {
    margin: 20px auto;
    border: 3px solid white;
    border-radius: 20px 0px 20px 0px;
    text-align: center;
    width: 200px;
    color: white;
    font-size: 46px;
    padding: 15px 20px;
    font-family: 'Barriecito', cursive;
    position: relative;
}

.badge {
    background: #de5c5c;
    color: white;
    font-size: 14px;
    padding: 2px 10px;
    font-family: 'Barriecito', cursive;
}

#user-label {
    position: absolute;
    border: 2px solid white;
    border-radius: 10px 0px 10px 0px;
    font-size: 20px;
    padding: 5px 40px;
    top: 25px;
    left: -100px;
}

#computer-label {
    position: absolute;
    border: 2px solid white;
    border-radius: 10px 0px 10px 0px;
    font-size: 20px;
    padding: 5px 40px;
    top: 25px;
    right: -110px;
}

.result{
    font-size:20px;
    color:white;
}

.result p {
    text-align: center;
    font-weight: bold;
    font-family: 'Barriecito', cursive;
}


.choices{
    margin-top:20px;
    text-align:center;
}


.choice {
    border: 4px solid white;
    border-radius: 20px 0px 20px 0px;
    padding: 5px;
    margin: 0px 15px;
    display: inline-block;
    transition: all 0.3s ease;
}

.choice img {
    width: 120px;
}

.choice:hover {
    cursor: pointer;
    background-color: #b7b3b3;
}

#action-message {
    text-align: center;
    color: white;
    font-family: 'Barriecito', cursive;
    font-weight: bold;
    font-size: 30px;
    margin-top: 20px;
}

/*LARGE HANDS SECTION______________________________________________*/

.hands {
    border: 4px solid white;
    border-radius: 60px 0px 60px 0px;
    width: 90%;
    margin: 0 auto;
    height: 500px;
    background-color: #b7b3b3;
}


#rockHandL {
    position: absolute;
    top: 200px;
    left: -100px;
    float: left;
}
#rockHandR {
    position: absolute;
    top: 200px;
    transform: scaleX(-1);
    right: -100px;
    float: right;
}
#paperHandL {
    position: absolute;
    top: 210px;
    left: -100px;
    float: left;
    opacity:0;
}

#paperHandR {
    position: absolute;
    top: 210px;
    transform: scaleX(-1);
    right: -100px;
    float: right;
    opacity: 0;
}
#scissorHandL {
    position: absolute;
    top: 180px;
    left: -100px;
    float: left;
    opacity: 0;
}

#scissorHandR {
    position: absolute;
    top: 180px;
    transform: scaleX(-1);
    right: -100px;
    float: right;
    opacity: 0;
}

/*WIN/LOSE/DRAW EFFECTS______________________________________________*/

.green-glow {
    border: 5px solid #4dcc7d;
    box-shadow: 0 0 20px #31b43a;
    border-radius: 20px 0px 20px 0px;
}

.red-glow {
    border: 5px solid #fc121b;
    box-shadow: 0 0 20px #d01115;
    border-radius: 20px 0px 20px 0px;
}

.gray-glow {
    border: 5px solid #464647;
    box-shadow: 0 0 20px #25292b;
    border-radius: 20px 0px 20px 0px;
}